@page "/{Language}/{ContentId}/{MemberId}/{ReferralId}"
@inherits CapturePageBase
@using MegaSchool1.Components
@using MegaSchool1.Model
@using System.Web
@inject UISettings UI

<PageTitle>@Video?.ShareableTitle</PageTitle>

<MudStack Spacing="3" Style="height:100%;">
    <Centered><MudImage Src="@GetImageUrl()" Fluid="true" Width="300" /></Centered>
    <Centered>
        @if (this.Video?.Platform is VideoPlatform.YouTube)
        {
            <EmbeddedVideo YouTube="@Video?.Id" />
        }
        @if (this.Video?.Platform is VideoPlatform.Vimeo)
        {
            <EmbeddedVideo Vimeo="@((Video?.Id, Video?.Hash))" />
        }
        @if (this.Video?.Platform is VideoPlatform.TikTok)
        {
            <EmbeddedVideo TikTok="@((Video?.UserHandle, Video?.Id))" />
        }
        @if (this.Video?.Platform is VideoPlatform.Html5)
        {
            <video width="100%" controls>
                <source src="@Video?.Url" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
    </Centered>
    @if (!string.IsNullOrWhiteSpace(this.Video?.DownloadUrl))
    {
        <Centered><ExternalLink Text="@(Video?.DownloadText ?? "Download")" Href="@this.Video?.DownloadUrl" /></Centered>
    }
    @if (!string.IsNullOrWhiteSpace(this.Video?.AuxiliaryText))
    {
        <br/>
        <Centered><MudText Align="Align.Center">@((MarkupString)HttpUtility.UrlDecode(Video?.AuxiliaryText.Replace("{ReferralCode}", $@"<span style=""color:{Theme.Palette.Secondary};"">{ReferralId}</span>")))</MudText></Centered>
    }
    @if (Video?.Images.Any() is true)
    {
        <br/>
        <Centered>
            <MudStack Row="true">
                @foreach (var image in Video?.Images)
                {
                    <a href="@image.Href" target="_blank"><div style="max-width:300px;"><MudImage Src="@image.Url" Fluid="true" /></div></a>
                }
            </MudStack>
        </Centered>
    }
    @if (DateTimeOffset.Now <= Video?.Event?.StartDate)
    {
        @if (!string.IsNullOrWhiteSpace(this.Video?.Event?.Header))
        {
            <MudText Align="Align.Center" Color="Color.Secondary">@Video?.Event?.Header</MudText>
        }
        <MudText Align="Align.Center"><ExternalLink Text="@Video?.Event?.ShareableHeader" Href="@Video?.Event?.Link" /> <br /> @($"{Video?.Event?.StartDate:dddd, MMMM d} @ {Video?.Event?.StartDate?.ToOffset(TimeZoneInfo.Local.BaseUtcOffset): h:mm tt} {TimeZoneInfo.Local.StandardName}")</MudText>
    }
    @if (Video?.ShowBusinessSignUp is true)
    {
        <MudText Align="Align.Center"><ExternalLink Text="Join MWR NOW!" Href="@Constants.JoinMakeWealthReal(this.MemberId, Model.Language.English)" /></MudText>
    }
    @if(Video?.HideShortCodePrompt is not true)
    {
        <br />
        <Centered><MudText Style="color:white;" Align="Align.Center">@((DateTimeOffset.Now <= Video?.PromoExpiration && Video?.Promo != null ? Video?.Promo : "To get started or ask questions, text"))<br /><br />'@ReferralId' to @QMDPhoneNumber</MudText></Centered>
    }
    <MudSpacer/>
</MudStack>

@code {
    [Parameter]
    public string ContentId { get; set; } = Content.MoneyChallenge.ToString();

    private Content ContentValue => Enum.Parse<Content>(this.ContentId);

    private VideoResource? Video => this.Language == Spanish ? UI.SpanishLocale[ContentValue] : UI.EnglishLocale[ContentValue];

    private string GetImageUrl() => Constants.GetImageUrl(Video?.CapturePageImage ?? Video?.Image ?? Image.MoneyChallengeTransparent);
}
