@page "/{Language}/{ContentId}/{MemberId}/{ReferralId}"
@page "/{Language}/{ContentId}/{MemberId}/{ReferralId}/{Index}"
@inherits CapturePageBase
@using MegaSchool1.Components
@using MegaSchool1.Model
@using System.Web
@using MegaSchool1.Model.Dto
@using MegaSchool1.ViewModel
@using OneOf
@using OneOf.Types
@inject UISettings UI
@inject Mappers Mappers
@inject NavigationManager NavigationManager

<PageTitle>@Video?.ShareableTitle</PageTitle>

<MudStack Spacing="3" Style="height:100%;">
    @if (Video?.ShowHeaderImage is true && GetHeaderImageUrl().TryPickT0(out var imageUrl, out _))
    {
        <Centered><MudImage Src="@SanitizeImageUri(imageUrl)" Fluid="true" Width="300" /></Centered>
    }
    @if (Video?.HideCapturePageVideo is not true)
    {
        <Centered>
            <EmbeddedVideo Video="@(_shareable.Video.MapT0(video => video.Video))"/>
        </Centered>        
    }
    @if (_shareable.FlyerImage.TryPickT0(out var url, out _))
    {
        <Centered><MudImage Src="@SanitizeImageUri(url.OriginalString)" Fluid="true" Width="300" /></Centered>
    }
    @if (!string.IsNullOrWhiteSpace(this.Video?.DownloadUrl))
    {
        <Centered><ExternalLink Href="@this.Video?.DownloadUrl">@(Video?.DownloadText ?? "Download")</ExternalLink></Centered>
    }
    @if (int.TryParse(this.Index, out var index) && _shareable.AuxiliaryTexts.TryPickT0(out var auxTexts, out _) && index < auxTexts.Length)
    {
        <br />
        <Centered><MudText Align="Align.Center">@((MarkupString)HttpUtility.UrlDecode(auxTexts[index].Replace("{ReferralCode}", $@"<span style=""color:{Theme.PaletteDark.Secondary};"">{ReferralId}</span>")))</MudText></Centered>
    }
    else
    {
        @if (_shareable.AuxiliaryText.TryPickT0(out var aux, out _))
        {
            <br/>
            <Centered><MudText Align="Align.Center">@((MarkupString)HttpUtility.UrlDecode(aux.Replace("{ReferralCode}", $@"<span style=""color:{Theme.PaletteDark.Secondary};"">{ReferralId}</span>")))</MudText></Centered>
        }
    }
    <MudSpacer />
    @if (_shareable.Images.TryPickT0(out var images, out _))
    {
        <br/>
        <Centered>
            <MudStack Row="true">
                @foreach (var image in images)
                {
                    <a href="@image.Href" target="_blank"><div style="max-width:300px;"><MudImage Src="@SanitizeImageUri(image!.Url!)" Fluid="true" /></div></a>
                }
            </MudStack>
        </Centered>
    }
    @if (_shareable.Event.TryPickT0(out var @event, out _) && @event.StartDate.TryPickT0(out var startDate, out _) && DateTimeOffset.Now <= startDate)
    {
        @if (!string.IsNullOrWhiteSpace(@event.Header))
        {
            <MudText Align="Align.Center" Color="Color.Secondary">@(@event.Header)</MudText>
        }
        
        <br/>

        @if (!string.IsNullOrWhiteSpace(@event.Image))
        {
            <Centered><MudImage Src="@SanitizeImageUri(@event.Image)" Fluid="true" Width="300" /></Centered>
        }
        
        <br/>

        <MudText Align="Align.Center">@($"{startDate:dddd, MMMM d} @ {startDate.ToOffset(TimeZoneInfo.Local.BaseUtcOffset): h:mm tt} {TimeZoneInfo.Local.StandardName}")</MudText>
        <br/>
        <MudText Align="Align.Center"><ExternalLink Href="@(@event.Link)">@(@event.ShareableHeader)</ExternalLink></MudText>
        @if (!string.IsNullOrWhiteSpace(@event.Password))
        {
            <MudText Align="Align.Center">Password: @(@event.Password)</MudText>
        }
    }
    @if (_shareable.ShowBusinessSignUp)
    {
        <MudText Align="Align.Center"><ExternalLink Href="@Constants.JoinMakeWealthReal(this.MemberId, Model.Language.English)">Join Make Wealth Real NOW!</ExternalLink></MudText>
    }
    @if(_pageLoaded && !_shareable.HideShortCodePrompt)
    {
        <br />
        <Centered><MudText Style="color:white;" Align="Align.Center">@((DateTimeOffset.Now <= Video?.PromoExpiration && Video?.Promo != null ? Video?.Promo : "To get started or ask questions, text"))<br /><br />'@ReferralId' to @QMDPhoneNumber</MudText></Centered>
    }
    <MudSpacer/>
</MudStack>

@code {
    private ShareableViewModel _shareable = new();
    private bool _pageLoaded;
    
    [Parameter]
    public string ContentId { get; set; } = Content.MoneyChallenge.ToString();

    private Content ContentValue => Enum.TryParse<Content>(this.ContentId, out var content) ? content : Content.MoneyChallenge;

    private ShareableDto? Video => this.Language == Spanish ? UI.SpanishLocale[ContentValue] : UI.EnglishLocale[ContentValue];

    private OneOf<string, None> GetHeaderImageUrl()
    {
        var imageId = Video?.CapturePageImage ?? Video?.Image;

        return imageId != null ? Constants.GetImageUrl(imageId.Value) : new None();
    }

    private string SanitizeImageUri(string imageUri)
    {
        const string FileScheme = "file";
        
        return new Uri(imageUri).Scheme == FileScheme ? $"{NavigationManager.BaseUri.TrimEnd('/')}{imageUri}" : imageUri;
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        
        _shareable = Mappers.ShareableDtoToViewModel((this.Language == Spanish ? UI.SpanishLocale[ContentValue] : UI.EnglishLocale[ContentValue]) ?? UI.EnglishLocale[ContentValue]!);
        _pageLoaded = true;
    }
}
