@page "/{Language}/{ContentId}/{MemberId}/{ReferralId}"
@page "/{Language}/{ContentId}/{MemberId}/{ReferralId}/{Index}"
@inherits CapturePageBase
@using MegaSchool1.Components
@using MegaSchool1.Model
@using System.Web
@using MegaSchool1.Model.Dto
@using MegaSchool1.ViewModel
@using OneOf
@using OneOf.Types
@inject UISettings UI
@inject Mappers Mappers

<PageTitle>@Video?.ShareableTitle</PageTitle>

<MudStack Spacing="3" Style="height:100%;">
    @if (Video?.ShowHeaderImage is true && GetHeaderImageUrl().TryPickT0(out var imageUrl, out _))
    {
        <Centered><MudImage Src="@imageUrl" Fluid="true" Width="300" /></Centered>
    }
    <Centered>
        <EmbeddedVideo Video="@(Shareable.Video.MapT0(video => video.Video))"/>
    </Centered>
    @if (Shareable.FlyerImage.TryPickT0(out var url, out _))
    {
        <Centered><MudImage Src="@url.AbsoluteUri" Fluid="true" Width="300" /></Centered>
    }
    @if (!string.IsNullOrWhiteSpace(this.Video?.DownloadUrl))
    {
        <Centered><ExternalLink Href="@this.Video?.DownloadUrl">@(Video?.DownloadText ?? "Download")</ExternalLink></Centered>
    }
    @if (int.TryParse(this.Index, out var index) && Shareable.AuxiliaryTexts.TryPickT0(out var auxTexts, out _) && index < auxTexts.Length)
    {
        <br />
        <Centered><MudText Align="Align.Center">@((MarkupString)HttpUtility.UrlDecode(auxTexts[index].Replace("{ReferralCode}", $@"<span style=""color:{Theme.PaletteDark.Secondary};"">{ReferralId}</span>")))</MudText></Centered>
    }
    else
    {
        @if (Shareable.AuxiliaryText.TryPickT0(out var aux, out _))
        {
            <br/>
            <Centered><MudText Align="Align.Center">@((MarkupString)HttpUtility.UrlDecode(aux.Replace("{ReferralCode}", $@"<span style=""color:{Theme.PaletteDark.Secondary};"">{ReferralId}</span>")))</MudText></Centered>
        }
    }
    <MudSpacer />
    @if (Shareable.Images.TryPickT0(out var images, out _))
    {
        <br/>
        <Centered>
            <MudStack Row="true">
                @foreach (var image in images)
                {
                    <a href="@image.Href" target="_blank"><div style="max-width:300px;"><MudImage Src="@image.Url" Fluid="true" /></div></a>
                }
            </MudStack>
        </Centered>
    }
    @if (Shareable.Event.TryPickT0(out var @event, out _) && @event.StartDate.TryPickT0(out var startDate, out _) && DateTimeOffset.Now <= startDate)
    {
        @if (!string.IsNullOrWhiteSpace(@event.Header))
        {
            <MudText Align="Align.Center" Color="Color.Secondary">@(@event.Header)</MudText>
        }
        <MudText Align="Align.Center"><ExternalLink Href="@Video?.Event?.Link">@(@event.ShareableHeader)</ExternalLink> <br /> @($"{startDate:dddd, MMMM d} @ {startDate.ToOffset(TimeZoneInfo.Local.BaseUtcOffset): h:mm tt} {TimeZoneInfo.Local.StandardName}")</MudText>
    }
    @if (Shareable.ShowBusinessSignUp)
    {
        <MudText Align="Align.Center"><ExternalLink Href="@Constants.JoinMakeWealthReal(this.MemberId, Model.Language.English)">Join Make Wealth Real NOW!</ExternalLink></MudText>
    }
    @if(!Shareable.HideShortCodePrompt)
    {
        <br />
        <Centered><MudText Style="color:white;" Align="Align.Center">@((DateTimeOffset.Now <= Video?.PromoExpiration && Video?.Promo != null ? Video?.Promo : "To get started or ask questions, text"))<br /><br />'@ReferralId' to @QMDPhoneNumber</MudText></Centered>
    }
    <MudSpacer/>
</MudStack>

@code {
    protected ShareableViewModel Shareable { get; private set; } = new();

    [Parameter]
    public string ContentId { get; set; } = Content.MoneyChallenge.ToString();

    private Content ContentValue => Enum.TryParse<Content>(this.ContentId, out var content) ? content : Content.MoneyChallenge;

    private ShareableDto? Video => this.Language == Spanish ? UI.SpanishLocale[ContentValue] : UI.EnglishLocale[ContentValue];

    private OneOf<string, None> GetHeaderImageUrl()
    {
        var imageId = Video?.CapturePageImage ?? Video?.Image;

        return imageId != null ? Constants.GetImageUrl(imageId.Value) : new None();
    }

    protected override void OnInitialized()
    {
        Shareable = Mappers.ShareableDtoToViewModel((this.Language == Spanish ? UI.SpanishLocale[ContentValue] : UI.EnglishLocale[ContentValue]) ?? UI.EnglishLocale[ContentValue]!);
    }
}
