@using MegaSchool1.Model
@using OneOf
@using OneOf.Types
@inherits Components.ComponentBase

<div style="display:@_display;">
    @(Video.Match<RenderFragment?>(
        video => video.Match<RenderFragment>(
            youTube => YouTubeView(youTube),
            tikTok => TikTokView(tikTok),
            vimeo => VimeoView(vimeo),
            facebook => FacebookView(facebook),
            startMeeting => StartMeetingView(startMeeting),
            html5 => Html5View(html5),
            wistia => WistiaView(wistia)),
        none => null))
</div>

@if (!_iframeLoaded)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="auto" Height="100px;" />
}
@code {
    private bool _iframeLoaded;
    private string _display = "none";

    [Parameter]
    public OneOf<Video, None> Video { get; set; } = new None();

    private RenderFragment YouTubeView(YouTube youTube) => __builder =>
    {
        <iframe @onload="OnVideoLoaded"
                src="@($"{Constants.YouTubeEmbedLinkPrefix}{youTube.VideoId}")"
                width="560"
                height="315"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
    };

    private RenderFragment TikTokView(TikTok tikTok) => __builder =>
    {
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@@@(tikTok.UserHandle)/video/@tikTok.VideoId" data-video-id="@tikTok.VideoId" style="max-width: 605px;min-width: 300px;">
            <section></section>
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
    };

    private RenderFragment VimeoView(Vimeo vimeo) => __builder =>
    {
        <iframe src="@($"https://player.vimeo.com/video/{vimeo.VideoId}{vimeo.Hash.Match(hash => $"?h={hash}", none => string.Empty)}")" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" data-ready="true"></iframe>
    };

    private RenderFragment FacebookView(Facebook facebook) => __builder =>
    {
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F@(facebook.ChannelId)%2Fvideos%2F@(facebook.VideoId)%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    };

    private RenderFragment StartMeetingView(StartMeeting startMeeting) => __builder =>
    {
        <iframe allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" src="https://stme.in/@startMeeting.VideoId" scrolling="no" frameborder="0" height="300" width="538"></iframe>
    };

    private RenderFragment Html5View(Html5 html5) => __builder =>
    {
        <video width="100%" controls>
            <source src="@html5.Uri.AbsoluteUri" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    };

    private RenderFragment WistiaView(Wistia wistia) => __builder =>
    {
        <iframe src="//fast.wistia.net/embed/iframe/@wistia.VideoId?videoFoam=true" allowtransparency="true" frameborder="0"
                scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="1000" height="563"></iframe>
        <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
    };

    protected override void OnParametersSet()
    {
        if (Video.IsT0)
        {
            this.ShowVideo();
        }
    }

    private void OnVideoLoaded(ProgressEventArgs e)
    {
        this.ShowVideo();
    }

    private void ShowVideo()
    {
        _iframeLoaded = true;
        _display = "block";
    }
}
