@using QRCoder
@inherits Components.ComponentBase

@if (!string.IsNullOrWhiteSpace(Content))
{
    <MudIconButton OnClick="@(() => ShowQRCode())" Icon="@Icons.Material.Filled.QrCode" Color="Color.Primary" />
}

<MudDialog @bind-IsVisible="_qrCodeDialog.Show">
    <DialogContent>
        @{
            var imageSource = $"data:image/png;base64,{_qrCodeDialog.Base64Image}";
        }

        <a href="@imageSource" download="@FileName">
            <MudImage Src="@imageSource" Fluid="true" />
        </a>
    </DialogContent>
</MudDialog>

@code {
    private (bool Show, string Base64Image) _qrCodeDialog;

    [Parameter]
    public string? Content { get; set; }

    [Parameter]
    public string FileName { get; set; } = "data.png";

    private void ShowQRCode()
    {
        if (!string.IsNullOrWhiteSpace(Content))
        {
            using var qrGenerator = new QRCodeGenerator();
            using var qrCodeData = qrGenerator.CreateQrCode(Content, QRCodeGenerator.ECCLevel.Q);
            using var qrCode = new Base64QRCode(qrCodeData);
            var qrCodeImageAsBase64 = qrCode.GetGraphic(20);

            _qrCodeDialog = (true, qrCodeImageAsBase64);
        }
    }
}
