@using MWRCheatSheet.Model
@inherits Components.ComponentBase
@inject Model.Constants Constants

<MudCard>
    <MudCardContent>
        @if (this.Description != null)
        {
            @if (this.Url != null)
            {
                <MudStack Row="true">
                    <MudSpacer/>
                    <MudText Align="Align.Center"><ExternalLink Text="@Description" Href="@Url" /></MudText>
                    <MudSpacer/>
                </MudStack>
            }
            else
            {
               <MudText Align="Align.Center">@((MarkupString)this.Description.Replace(Environment.NewLine, "<br/>"))</MudText>
            }
            @if (this.Duration != null)
            {
                <MudText Typo="Typo.body2" Align="Align.Center">@FormatTimeSpan(Duration.Value)</MudText>
            }
        }
        else
        {
            <div>
                @this.ChildContent
            </div>
        }
    </MudCardContent>
    <MudCardActions>
        <ShareableContent TextToCopy="@TextToCopy"
                          Tooltip="@Tooltip"
                          ImageUrl="@ImageUrl" />
    </MudCardActions>
</MudCard>
@code {
    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string TextToCopy { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public string ImageUrl { get; set; } = Constants.GetImageUrl(Image.MoneyChallengeLogo);

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public TimeSpan? Duration { get; set; }
}
