@inherits Components.ComponentBase

<MudCard>
    <MudCardContent>
        @if (this.Description != null)
        {
            <MudText Align="Align.Center">@this.Description</MudText>
        }
        else
        {
            <div>
                @this.ChildContent
            </div>
        }
    </MudCardContent>
    <MudCardActions>
        <CopyTextMinimal Description="@Description"
                         TextToCopy="@TextToCopy"
                         Tooltip="@Tooltip"
                         ImageUrl="@ImageUrl" />
    </MudCardActions>
</MudCard>
@code {
    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string TextToCopy { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public string ImageUrl { get; set; } = GetImageUrl(Image.MoneyChallengeLogo);
}
