@inherits Components.ComponentBase

<MudCard>
    <MudCardContent>
        @if (this.Description != null)
        {
            @if (this.Url != null)
            {
                <MudStack Row="true">
                    <MudSpacer/>
                    <ExternalLink Text="@Description" Href="@Url"/>
                    <MudSpacer/>
                </MudStack>
            }
            else
            {
               <MudText Align="Align.Center">@((MarkupString)this.Description.Replace(Environment.NewLine, "<br/>"))</MudText>
            }
        }
        else
        {
            <div>
                @this.ChildContent
            </div>
        }
    </MudCardContent>
    <MudCardActions>
        <CopyTextMinimal Description="@Description"
                         TextToCopy="@TextToCopy"
                         Tooltip="@Tooltip"
                         ImageUrl="@ImageUrl" />
    </MudCardActions>
</MudCard>
@code {
    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string TextToCopy { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public string ImageUrl { get; set; } = GetImageUrl(Image.MoneyChallengeLogo);

    [Parameter]
    public string? Url { get; set; }
}
