@inherits Components.ComponentBase

<MudCard>
    <MudCardContent>
        @if (this.Description != null)
        {
            @if (this.Url != null)
            {
                <MudStack Row="true">
                    <MudSpacer/>
                    <MudText Align="Align.Center"><ExternalLink Text="@Description" Href="@Url" /></MudText>
                    <MudSpacer/>
                </MudStack>
            }
            else
            {
               <MudText Align="Align.Center">@((MarkupString)this.Description.Replace(Environment.NewLine, "<br/>"))</MudText>
            }
            @if (this.Duration != null)
            {
                <MudText Typo="Typo.body2" Align="Align.Center">@($"({(Duration.Value.Minutes > 0 ? $"{Duration.Value.Minutes}min" : string.Empty)}")@($"{(Duration.Value.Seconds > 0 ? $" {Duration.Value.Seconds}sec" : string.Empty)}"))</MudText>
            }
        }
        else
        {
            <div>
                @this.ChildContent
            </div>
        }
    </MudCardContent>
    <MudCardActions>
        <ShareableContent Description="@Description"
                          TextToCopy="@TextToCopy"
                          Tooltip="@Tooltip"
                          ImageUrl="@ImageUrl" />
    </MudCardActions>
</MudCard>
@code {
    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string TextToCopy { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public string ImageUrl { get; set; } = GetImageUrl(Image.MoneyChallengeLogo);

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public TimeSpan? Duration { get; set; }
}
