@using MWRCheatSheet.Model
@inherits Components.ComponentBase
@using Components

<div style="display:@(!this.Filter.Any() || this.Filter.All(f => this.Highlights.Contains(f)) ? "block" : "none");">
    <MudCard>
        <MudStack>
            @if (this.YouTube != null)
            {
                <Video YouTube="@YouTube" />
            }
            @if (this.TikTok != null)
            {
                <Video TikTok="@TikTok" />
            }
            <MudStack Row="true">
                <MudSpacer />
                <ShareableContent Description="@Description"
                                  Tooltip="Testimonial Copied!"
                                  ImageUrl="@Constants.GetImageUrl(Image.MoneyChallengeLogo)"
                                  TextToCopy="@($"{Description}{Environment.NewLine}{Constants.PointingDownEmoji}{Environment.NewLine}{this.VideoUrl}")" />
                <MudSpacer />
            </MudStack>
        </MudStack>
    </MudCard>
</div>

@code {
    [Parameter]
    public string? YouTube { get; set; }

    [Parameter]
    public (string UserHandle, string VideoId)? TikTok { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public Highlight[] Highlights { get; set; }

    [Parameter]
    public Highlight[] Filter { get; set; }

    private string? VideoUrl => 
        this.YouTube != null
        ? Constants.MinimalistYouTubeLink(this.YouTube)

        : this.TikTok != null
        ? Constants.MinimalistTikTokLink(this.TikTok?.UserHandle!, this.TikTok?.VideoId!)
        : null;
}
