@page "/events"
@inherits Components.ComponentBase
@using Blazored.LocalStorage
@using Components
@using MWRCheatSheet.Components
@using MWRCheatSheet.Model
@using MWRCheatSheet.Repository.Model
@using MWRCheatSheet.ViewModel
@inject MWRCheatSheet.Model.UISettings UI
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject Repository.Repository Repo

<MudStack>
    @foreach(var day in _events.Where(e => e.Day != null).Select(e => e.Day).Distinct().OrderBy(day => day))
    {
        <br />
        <br />
        <div id="@day">
            <MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">@day</MudText>
            <MudStack>
                @foreach (var recurringEvent in _events.Where(e => e.Day == day).OrderBy(e => e.Time))
                {
                    <div id="@recurringEvent.Anchor">
                        <RecurringEvent Header="@recurringEvent.Header"
                                        Archive="@recurringEvent.Archive"
                                        Url="@recurringEvent.Link"
                                        Password="@recurringEvent.Password"
                                        ImageUri="@recurringEvent.Image"
                                        Recurrence="@((recurringEvent.Day, recurringEvent.Time, Constants.DefaultTimeZone))"
                                        LivestreamPlatform="@((recurringEvent.Anchor, recurringEvent.LivestreamPlatform))"
                                        LivestreamPlatformSelectionChanged="OnLivestreamPlatformSelectionChanged"
                                        Text="@($"{recurringEvent.ShareableHeader}{Environment.NewLine}{Environment.NewLine}{(recurringEvent.ShareableHost == null ? string.Empty : $"Hosted By:{Environment.NewLine}{recurringEvent.ShareableHost}{Environment.NewLine}{Environment.NewLine}")}{(recurringEvent.ShareableGuest == null ? string.Empty : $"Featuring:{Environment.NewLine}{recurringEvent.ShareableGuest}{Environment.NewLine}{Environment.NewLine}")}{GetNextEvent(recurringEvent.Day!.Value, recurringEvent.Time, Constants.DefaultTimeZone):dddd, MMMM d}{Environment.NewLine}{Environment.NewLine}{GetRegionalTimes(GetNextEvent(recurringEvent.Day!.Value, recurringEvent.Time, Constants.DefaultTimeZone))}{Environment.NewLine}{Environment.NewLine}Go to:{Environment.NewLine}{recurringEvent.VanityLink}{(recurringEvent.MeetingId == null ? string.Empty : $"{Environment.NewLine}{Environment.NewLine}ID: {recurringEvent.MeetingId}")}{(recurringEvent.Password == null ? string.Empty : $"{Environment.NewLine}{Environment.NewLine}Password: {recurringEvent.Password}")}{Environment.NewLine}{Environment.NewLine}{recurringEvent.HashTags}")" />
                    </div>
                }
            </MudStack>
        </div>
    }
</MudStack>
@code {
    private static readonly TimeZoneInfo[] BusinessStandardTimeZonesOrdered = [Constants.DefaultTimeZone, Constants.ChicagoTimeZone, Constants.LosAngelesTimeZone];

    private static Repository.Model.Settings? Settings;

    private EventViewModel[] _events = [];

    // private static string FormatLink(string link, EventViewModel @event)
    // {
    //     string? formattedLink = null;

    //     if (link == Constants.LivestreamVideoPlaceholder && Settings != null)
    //     {

    //         if (Settings.LivestreamPlatformPreference.TryGetValue(@event.Anchor!, out var livestreamPlatformPreference))
    //         {
    //             if (Constants.CorporateLivestreamLink.TryGetValue(livestreamPlatformPreference, out var livestreamLink))
    //             {
    //                 formattedLink = livestreamLink;
    //             }
    //         }
    //     }

    //     return formattedLink ?? link;
    // }

    protected override async Task OnInitializedAsync()
    {
        var generatedDailyEvents = new List<EventDto>();
        var eventMapper = new Mappers();

        var dailyEvents = UI.EnglishLocale.Events.Where(e => e.Day == null).ToArray();
        foreach (var dailyEvent in dailyEvents)
        {
            foreach (var dayOfWeek in Enum.GetValues<DayOfWeek>())
            {
                var nextEventOnDayOfWeek = GetNextEvent(dayOfWeek, dailyEvent.Time, Constants.DefaultTimeZone);
                if (nextEventOnDayOfWeek <= dailyEvent.EndDate)
                {
                    generatedDailyEvents.Add(dailyEvent with { Day = dayOfWeek });
                }
            }
        }

        _events = UI.EnglishLocale.Events
            .Except(dailyEvents)
            .Union(generatedDailyEvents)
            .Select(e => eventMapper.EventDtoToEventViewModel(e))
            .ToArray();

        Settings ??= await Repo.GetSettingsAsync(LocalStorage);

        foreach (var eventViewModel in _events)
        {
            if (eventViewModel.Link == Constants.LivestreamVideoPlaceholder && Settings != null)
            {
                if (Settings.LivestreamPlatformPreference.TryGetValue(eventViewModel.Anchor!, out var livestreamPlatformPreference))
                {
                    eventViewModel.LivestreamPlatform = livestreamPlatformPreference;

                    if (Constants.CorporateLivestreamLink.TryGetValue(livestreamPlatformPreference, out var livestreamLink))
                    {
                        eventViewModel.Link = livestreamLink;
                        eventViewModel.VanityLink = livestreamLink;
                    }
                }
            }
        }

        // auto-navigate to the current day if a specific anchor was not already specified
        if (!NavigationManager.Uri.Contains("#"))
        {
            NavigationManager.NavigateTo($"/events#{DateTime.Now.DayOfWeek}", true);
        }
    }

    private static string GetRegionalTimes(DateTimeOffset dateTime)
    {
        var regionalTimes = BusinessStandardTimeZonesOrdered
            .Select(timeZone => $"{dateTime.ToOffset(timeZone.BaseUtcOffset).ToString("h:mmt").ToLower()}{timeZone.StandardName.First()}{timeZone.StandardName.Substring(1).ToLower()}")
            .Aggregate((formatted, next) => $"{formatted}/ {next}");

        return regionalTimes;
    }

    private async Task OnLivestreamPlatformSelectionChanged((string EventId, LivestreamPlatform Platform)? livestream)
    {
        // persist livestream platform preference
        var settings = await Repo.GetSettingsAsync(LocalStorage);
        settings.LivestreamPlatformPreference[livestream?.EventId!] = livestream!.Value.Platform;
        await Repo.SaveSettingsAsync(settings, LocalStorage);

        // refresh UI
        foreach (var livestreamEvent in _events.Where(e => e.Anchor == livestream?.EventId))
        {
            livestreamEvent.LivestreamPlatform = livestream!.Value.Platform;
   
            if (Constants.CorporateLivestreamLink.TryGetValue(livestreamEvent.LivestreamPlatform, out var livestreamLink))
            {
                livestreamEvent.Link = livestreamLink;
                livestreamEvent.VanityLink = livestreamLink;
            }
        }

        this.StateHasChanged();
    }
}
