@page "/testimonials"
@using MegaSchool1.Components
@using MegaSchool1.Model
@inject UISettings UI

<MudChipSet T="Highlight" @bind-SelectedValues="_selected" SelectionMode="SelectionMode.MultiSelection" CheckMark="true">
    @foreach(var filterableValue in Highlights)
    {
        <MudChip Value="@filterableValue.Highlight" Text="@(filterableValue.Description)" Color="Color.Primary" SelectedColor="Color.Secondary" />
    }
</MudChipSet>
<br/>
<MudStack>
    @foreach(var testimonial in UI.EnglishLocale.Testimonials)
    {
        <Testimonial Description="@testimonial.Description"
                     Video="Mappers.TestimonialToVideo(testimonial)"
                     Highlights="@(testimonial.Highlights)"
                     Filter="_selected.ToArray()" />
    }

    <!--
        The hidden component below is a UI hack.  I don't know why, but if you make the component below visible,
        and you click play on the video, the video DIRECTLY ABOVE IT will start playing.  This seems to always
        apply to the last video on the page.  Thus, the hack is to make the last video hidden.
        - Jerome Bell
    -->
    <div style="visibility:hidden;">
        <Testimonial Description="This testimonial is a UI hack, see comment above."
                     Video="@((Video)new YouTube("Xlg3rp0D4aI"))"
                     Highlights="@([Highlight.MoneyChallenge])"
                     Filter="@([Highlight.MoneyChallenge])" />
    </div>
</MudStack>

@code {
    private static readonly (Highlight Highlight, string Description)[] Highlights =
    [
        (Highlight.MoneyChallenge, "72Hr Money Challenge"),
        (Highlight.ReduceMyTaxes, "Reduce My Taxes"),
        (Highlight.EliminateMyDebt, "Eliminate My Debt"),
        (Highlight.LowerMyBills, "Lower My Bills"),
        (Highlight.RestoreMyCredit, "Restore My Credit"),
        (Highlight.DCA, "DCA"),
        (Highlight.PRA, "PRA"),
        (Highlight.LandBanking, "Land Banking"),
        (Highlight.PreciousMetals, "Precious Metals"),
        (Highlight.TrustMyAssets, "Trust My Assets"),
        (Highlight.KeysToHomeOwnership, "Keys to Home Ownership"),
        (Highlight.Bonuses, "Bonuses"),
        (Highlight.Residuals, "Residuals"),
        (Highlight.Couple, "Couple"),
        (Highlight.Military, "Military"),
        (Highlight.GenYGenZ, "Millenial/GenZ"),
    ];

    private IReadOnlyCollection<Highlight> _selected = [];
}