@page "/training"
@inherits Components.ComponentBase
@using MegaSchool1.Components
@using MegaSchool1.Model

<MudStack Spacing="3">
    <Collapsable Title="Membership">
        <MudStack Spacing="3">
            <MudCard Outlined="true">
                <MudCardHeader>72-Hour Money Challenge Deep Dive</MudCardHeader>
                <MudCardContent>
                    <EmbeddedVideo YouTube="WLGXDgmIbxc"  />
                </MudCardContent>
                <MudCardActions>
                    <MudStack Style="width:100%;">
                        <Centered>
                            <ShareableContent Tooltip="Copied!"
                                              ImageUrl="@Constants.GetImageUrl(Image.MoneyChallengeLogo)"
                                              TextToCopy="@($"72-Hour Money Challenge Deep Dive{Environment.NewLine}{Constants.PointingDownEmoji}{Environment.NewLine}{Constants.MinimalistYouTubeLink("WLGXDgmIbxc")}")" />
                        </Centered>
                    </MudStack>
                </MudCardActions>
            </MudCard>
        </MudStack>
    </Collapsable>
    <Collapsable Title="The Pipeline">
        <MudStack Spacing="3">
            <MudCard Outlined="true">
                <MudCardHeader>Piquing - Basic Personality Types</MudCardHeader>
                <MudCardContent>
                    <EmbeddedVideo Facebook="@(("wendell.philp", "2331619170366551"))" />
                </MudCardContent>
            </MudCard>
            <MudCard Outlined="true">
                <MudCardHeader>The Power of Connection</MudCardHeader>
                <MudCardContent>
                    <EmbeddedVideo Facebook="@(("ExtraDigit", "798265578574333"))" />
                </MudCardContent>
            </MudCard>
            <MudCard Outlined="true">
                <MudCardHeader>Collecting the Decision</MudCardHeader>
                <MudCardContent>
                    <EmbeddedVideo Facebook="@(("ExtraDigit", "436886989067883"))" />
                </MudCardContent>
            </MudCard>
        </MudStack>
    </Collapsable>
    <Collapsable Title="Presenting the Opportunity">
        <StrategyChooser>
            <MudTabPanel Tag="@Strategy.MegaSchool">
                <Centered>
                    <MudStack Spacing="3">
                        <MudStack Row="true">
                            <MudText>#1: </MudText>
                            <MudText>Use Microsoft Edge web browser.</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#2: </MudText>
                            <MudText>Always have music playing in a browser tab (No Silence!).  Use <ExternalLink Text="Lofi HipHop Mix" Href="https://www.youtube.com/watch?v=I140iNpx1xM" /></MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#3: </MudText>
                            <MudText>Have your back office website open in a browser tab.  Be <span style="color:@(Theme.Palette.Secondary);">LOGGED OUT</span>, so you can show the demo step by step.</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#4: </MudText>
                            <MudText>Show the PowerPoint in a browser tab (full screen!).  <ExternalLink Text="Open Opportunity PowerPoint in browser tab" Href="https://5f35ec78-8acd-4f4f-9b98-5439adb647ec.usrfiles.com/ugd/5f35ec_54475ca86db342f59bb7bd9c9a8d9daa.ppsx" />.</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#5: </MudText>
                            <MudStack>
                                <MudText>Demo "Eliminate My Debt" (<ExternalLink Text="Watch Example" Href="https://www.youtube.com/watch?v=8FniIL3b_0g&t=1550s" />).</MudText>
                                <Centered>
                                    <MudStack>
                                        <MudText Typo="Typo.h4">Demo Data</MudText>
                                        <MudText>Balance:<br/>$226,616.38</MudText>
                                        <MudText>Rate:<br/>2.5%</MudText>
                                        <MudText>Minimum Payment:<br />$1,040.92</MudText>
                                        <MudText>Current Payment:<br />$1,040.92</MudText>
                                        <MudText>Escrow:<br />$128.43</MudText>
                                        <MudText>Tax Savings:<br />$600</MudText>
                                    </MudStack>
                                </Centered>
                            </MudStack>
                        </MudStack>
                    </MudStack>
                </Centered>
            </MudTabPanel>
        </StrategyChooser>
    </Collapsable>
    <Collapsable Title="QMD Onboarding">
        <StrategyChooser>
            <MudTabPanel Tag="@Strategy.MegaSchool">
                <Centered>
                    <MudStack Spacing="3">
                        <MudStack Row="true">
                            <MudText>#1: </MudText>
                            <MudText>QMD Enrollment</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</MudText>
                            <MudText>#1a: </MudText>
                            <MudText>Tell QMD to use the default username YOU chose (eg. "JohnSmith", "MarySue", etc).  They can chagne it later.</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</MudText>
                            <MudText>#1b: </MudText>
                            <MudText>Tell QMD to use the password <span style="color:@(Theme.Palette.Primary);">password1</span>.  Tell them to change it afterwards.</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#2: </MudText>
                            <MudText>Have QMD install the Mega School App</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#3: </MudText>
                            <MudText>Schedule Fast Start meeting(s) with QMD. (1 2-hour meeting or 2 1-hour meetings)</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#4: </MudText>
                            <MudText>Schedule 1 virtual learning party</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#5: </MudText>
                            <MudText>Schedule 1 in-home learning party</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#6: </MudText>
                            <MudText>Get QMD headshot for banner</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#7: </MudText>
                            <MudText>Instruct QMD to do their Fast Start pre-assignment</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#8: </MudText>
                            <MudStack>
                                <MudText>Upload <ExternalLink Text="new member banner" Href="https://mwrpromos.com/" /> to:</MudText>
                                <MudStack Row="true">
                                    <MudSpacer />
                                    <MudContainer>
                                        <MudStack>
                                            <MudStack Row="true">
                                                <MudText>&#x2022; </MudText>
                                                <MudText>EDM Regional Telegram</MudText>
                                            </MudStack>
                                            <MudStack Row="true">
                                                <MudText>&#x2022; </MudText>
                                                <MudText>Your personal social media account(s)</MudText>
                                            </MudStack>
                                            <MudStack Row="true">
                                                <MudText>&#x2022; </MudText>
                                                <MudText>Mega School Signal chat</MudText>
                                            </MudStack>
                                            <MudStack Row="true">
                                                <MudText>&#x2022; </MudText>
                                                <MudText>ARK Nation GroupMe chat</MudText>
                                            </MudStack>
                                        </MudStack>
                                    </MudContainer>
                                </MudStack>
                            </MudStack>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText>#9: </MudText>
                            <MudText>Go through <MudLink Href="/faststartchecklist">Fast Start Checklist</MudLink> with your QMD at scheduled meeting.</MudText>
                        </MudStack>
                    </MudStack>
                </Centered>
            </MudTabPanel>
        </StrategyChooser>
    </Collapsable>
</MudStack>
