@page "/testimonials"
@using MWRCheatSheet.Model
@using MWRCheatSheet.Components
@inject MWRCheatSheet.Model.UISettings UI

<MudChipSet @bind-SelectedChips="_selected" MultiSelection="true" Filter="true">
    @foreach(var filterableValueable in Highlights)
    {
        <MudChip Text="@(filterableValueable.Description)" Color="Color.Primary" SelectedColor="Color.Secondary" />
    }
</MudChipSet>
<br/>
<MudStack>
    @foreach(var testimonial in UI.EnglishLocale.Testimonials)
    {
        switch(testimonial.Video.Platform)
        {
            case VideoPlatform.TikTok:
                <Testimonial Description="@testimonial.Description"
                             TikTok="@((testimonial.Video.UserHandle, testimonial.Video.Id))"
                             Highlights="@(testimonial.Highlights)"
                             Filter="@(GetHighlights(_selected))" />
                break;

            case VideoPlatform.YouTube:
                <Testimonial Description="@testimonial.Description"
                             YouTube="@testimonial.Video.Id"
                             Highlights="@(testimonial.Highlights)"
                             Filter="@(GetHighlights(_selected))" />
                break;

            case VideoPlatform.Vimeo:
                <Testimonial Description="@testimonial.Description"
                             Vimeo="@((testimonial.Video.Id, testimonial.Video.Hash))"
                             Highlights="@(testimonial.Highlights)"
                             Filter="@(GetHighlights(_selected))" />
                break;
        }
    }

    <!--
        The hidden component below is a UI hack.  I don't know why, but if you make the component below visible,
        and you click play on the video, the video DIRECTLY ABOVE IT will start playing.  This seems to always
        apply to the last video on the page.  Thus, the hack is to make the last video hidden.
        - Jerome Bell
    -->
    <div style="visibility:hidden;">
        <Testimonial Description="This testimonial is a UI hack, see comment above."
                     YouTube="Xlg3rp0D4aI"
                     Highlights="@([Highlight.MoneyChallenge])"
                     Filter="@([Highlight.MoneyChallenge])" />
    </div>
</MudStack>

@code {
    private static readonly (Highlight Highlight, string Description)[] Highlights =
    [
        (Highlight.MoneyChallenge, "72Hr Money Challenge"),
        (Highlight.ReduceMyTaxes, "Reduce My Taxes"),
        (Highlight.EliminateMyDebt, "Eliminate My Debt"),
        (Highlight.LowerMyBills, "Lower My Bills"),
        (Highlight.RestoreMyCredit, "Restore My Credit"),
        (Highlight.DCA, "DCA"),
        (Highlight.PRA, "PRA"),
        (Highlight.LandBanking, "Land Banking"),
        (Highlight.PreciousMetals, "Precious Metals"),
        (Highlight.TrustMyAssets, "Trust My Assets"),
        (Highlight.KeysToHomeOwnership, "Keys to Home Ownership"),
        (Highlight.Bonuses, "Bonuses"),
        (Highlight.Residuals, "Residuals"),
        (Highlight.Couple, "Couple"),
        (Highlight.Military, "Military"),
        (Highlight.GenYGenZ, "Millenial/GenZ"),
    ];

    private MudChip[] _selected = [];

    private static Highlight[] GetHighlights(MudChip[] chips)
        => !chips.Any() ? Array.Empty<Highlight>() : chips.Select(chip => Highlights.First(v => v.Description == chip.Text).Highlight).ToArray();
}